@using Blazor.Diagrams.Components

<div class="diagram-container" style="height: 600px; width: 100%">
    <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>