<div>
    <h5 class="card-title">@Node.Good.Name</h5>
    @Node.Quantity x <img src="@GetImagePath()" height="24px" width="24px">
    
    @foreach (var port in Node.Ports)
    {
        // In case you have any ports to show
        // IMPORTANT: You are always in charge of rendering ports
        <PortRenderer @key="port" Port="port" />
    }

</div>
