@page "/"
@using ParagonPioneerFe.Models

<PageTitle>Landing Page</PageTitle>

<h1 class="d-flex justify-content-center primary-text">Paragon Pioneers Production Chains</h1>

<Row Flex="Flex.JustifyContent.Center" Margin="Margin.Is0">
    <Column ColumnSize="ColumnSize.Is4">
        <NumericPicker 
            TValue="double" 
            @bind-Value="@_productionRate"
            EnableStep="false"
            CurrencySymbol=" Units"
            CurrencySymbolPlacement="CurrencySymbolPlacement.Suffix"/>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">
        <Autocomplete TValue="Good"
                      TItem="Good"
                      Data="_goods"
                      Filter="AutocompleteFilter.Contains"
                      @bind-SelectedValue="_selectedGood"
                      TextField="@(item => item.Name)"
                      ValueField="@(item => item)"
                      Placeholder="Search Good"/>
    </Column>
</Row>
